apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-blue
  labels:
    app: blue-green-app
    version: blue
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blue-green-app
      version: blue
  template:
    metadata:
      labels:
        app: blue-green-app
        version: blue
    spec:
      containers:
      - name: flask-app
        image: 516175389215.dkr.ecr.us-east-1.amazonaws.com/blue-app:prod
        ports:
        - containerPort: 5000
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 10
